body {
  background-color: #e5e5e5;
}

/* ---------------------- font ----------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* -----------------------------------------end - font */

/* ---------------------------- first section ------------------------ */

#first_section {
  background: #243413;
  padding: 5px;
  /* position: fixed; */
  /* width: 100%; */
}

.dashboard-text {
  font-weight: 700px;
  margin-left: 15px;
}

/* ---------------------- left side div ----------------------- */

.work-progress-div {
  border: 1px solid #220082;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 15px;
  margin-top: 10px;
}

.work_progress {
  text-align: center;
  font-weight: 600;
}

.progress_div_background {
  background-color: #220082;
  padding: 15px;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}

.progress_div_background_2 {
  background-color: #009797;
  padding: 15px;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}

.left-side-div-title {
  padding-bottom: 20px;
}

.left-side-div-padding {
  padding: 50px;
  background-color: white;
}

.left-side-div-title {
  text-align: center;
  color: #220082;
  font-size: 19px;
}

.completed_this_month {
  padding-top: 30px;
}

.list_view {
  margin-top: 15px;
}

.list_view--text {
  display: flex;
  justify-content: right;
}

/* ---------------- in progress div ------- -- */

.in-progress-div {
  margin-top: 10px;
}

.in-progress-header {
  font-size: 22px;
}

.in-progress-p {
  font-size: 13px;
  color: #e5e5e5;
}

/* ---------------- end ------in progress div  */

/* ------------------------------------------ end left side div */

/* --------------------- right side div ----------------------- */

.right-side-div-padding {
  background-color: white;
  padding: 50px;
}

.right-side-div-title {
  text-align: center;
  color: #609513;
  font-size: 19px;
}

/* ---------- right side div button -------- */

.right-side-button-div {
  margin-top: 10%;
}

.view-data-button {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 200px;
  border: 0;
  border-radius: 50px;
  background-color: #538200;
  color: white;
  padding: 10px 0;
}

/* ------------ end - right side div button  */

/* ----------------- settings -------------- */

.settings-margin {
  margin-top: 30px;
}

.settings-title {
  text-align: center;
  color: #009797;
  font-size: 19px;
}

/* -------------------------- end - settings */

/* --------- change-password-div ----------- */

.change-password-div {
  display: block;
  margin: auto;
  width: 90%;
  border: 1px solid #009797;
  padding: 20px;
  border-radius: 20px;
}

input {
  display: block;
  margin: auto;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #c4c4c4;
  margin-top: 20px;
  /* width: auto; */
  max-width: 100%;
}

input::placeholder {
  color: #c4c4c4;
  text-align: center;
}

input[type="submit"] {
  background-color: #009797;
  width: 70%;
  border-radius: 50px;
  border: none;
  margin-top: 30px;
  padding: 10px 0;
  color: white;
  font-size: 13px;
}

.file {
  margin-left: 100px;
}

/* -------------- end - change-password-div  */

/* -------------------------------------- end - right side div  */

/* --------- icon ----------- */

.icon-img-1 {
  width: 30px;
}

.icon-img-2 {
  width: 30px;
  margin-left: 10px;
}

/* --------------- end - icon */

/* --------- title ----------- */

.title {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
}

/* --------------- end - title */

/* --------- login ----------- */

.login_btn_div {
  padding-top: 10px;
}

.login_btn {
  display: block;
  margin: auto;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  background-color: #243413;
  transition: all 0.5s ease-in-out;
}

.login_btn:hover {
  background-color: green;
  color: white;
}

/* --------------- end - login */

/* -- container padding ----- */

.container-padding {
  margin-top: 3%;
}

/* - end - container padding - */

/* ---------------------------------------------- end - first section  */

/* --------------------------------------------- media screen for tab ( portrait ) ------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* ------------------------------------------------------------------------------------ end - media screen for tab ( portrait )  */

/* ------------------------------------------ media screen for tab (landscape) ------------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}

/* -------------------------------------------------------------------------------------- end - media screen for tab (landscape) */

/* --------------------------------------------- media screen for tab (pro) portrait ------------------------------------------- */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* ---------------------------------------------------------------------------------- end - media screen for tab (pro) portrait */

/* ---------------------------------------------- media screen for tab ( pro ) landscape --------------------------------------- */

@media only screen and (min-device-width: 1366px) and (min-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ------------------------------------------------------------------------------- end - media screen for tab ( pro ) landscape  */

/* ------------------------------------------------------- media screen for mobile devices ------------------------------------- */
@media only screen and (max-width: 600px) {
  /* --------- title ----------- */

  .title {
    display: none;
  }

  /* --------------- end - title */

  /* ------- login btn --------- */

  .login_btn {
    display: block;
    margin: auto;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 10px;
    background-color: #243413;
    transition: all 0.5s ease-in-out;
  }

  /* ------ end -  login btn ---- */

  .right-side-mobile {
    margin-top: 10%;
  }

  .view-data-button {
    width: 100%;
  }

  input {
    font-size: 10px;
  }

  input[type="submit"] {
    font-size: 10px;
  }

  .task_completed {
    font-size: 13px;
  }

  .completed_this_month {
    font-size: 13px;
  }
}

/* --------------------------------------------------------------------------------------  end - media screen for mobile devices */

/* ---------------------------------------- media screen for 1366 x 768 desktop screens ---------------------------------------- */

@media only screen and (device-width: 1366px) and (device-height: 768px) {
}

/* --------------------------------------------------------------------------- end - media screen for 1366 x 768 desktop screens */
